/*{
    border: 1px white solid;
    
}*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}


.container{
    width: auto;
    max-height: auto;
    min-height: auto;
    padding-bottom: 50px;
/*    margin:0 auto;*/
    
}

.container > .nav-bar, .container > .body  {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
}

.nav-bar > .ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: end;
}

li {

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    list-style-type: none;
}

.logo  {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    margin-left: 100px;
}


button {
    margin-left: 100px;
    margin-top: 10px;
}

.body {
    height: 40%;
    
}

.column1{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 40%;
    
}
.column1 > p{
    max-width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap:break-word;
    margin-left: 100px;
}

.column2 {
    display: flex;
    /*flex: 1;*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 59%;
}

img{
    height:300px;
    width: 500px;
    object-fit:contain;
    border-end-end-radius: 2px;
    
}

/* Styling the elements */
.container {
    background-color: #1f2937;

}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight:bold
}

 .column1 > p {
    font: size 18px;
    color: #e5e7eb;
    
}

a{
    color: #e5e7eb;
    cursor: pointer;
    text-decoration: none;
}

.column1 >h1 {
    font-size:  48px;
    font-weight: bolder;
    color: #f9faf8;

}
button {
    border-radius: 11px;
    border-style: solid;
    border-color: #e5e7eb;
    font-size: 20px;
    color: #f9faf8;
    text-align: center;
    padding: 5px 20px;
    font-weight: bold;
    background-color: #3882F6;
    box-shadow: none;
}

.second-container {
    width: auto;
    height: 400px;
}

.second-container h4 {
    margin:25px auto;
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    
}
.box-1, .box-2, .box-3, .box-4{
    width: 150px;;
    height: 250px;
    
}
.square-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 500px;
}

.empty-container {
    border: 4px #3882F6 solid;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.square-box p {
    word-wrap: break-word;
    padding: 10px 10px;
    text-align:center;
}

.quote-container {
    background-color: #e5e7eb;
    width: auto;
    height: 400px;
}

.quote-container p {
    font-size: 36px;   
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin: 0 500px;
    padding-top: 100px;
    
}

.quote-container .author {
    padding-top: 10px;
    text-align: right;
    font-size: 30px;   
    font-style:normal;
    font-weight:bolder;
    color: #1f2937;
}

.cta-container{
    width: auto;
    height: 300px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.cta-flex{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    margin: 30px 200px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    height: 150px;
}
.cta-flex .column1 .cta {
    font-size: 26px;
    font-weight: bolder;
    padding-bottom: 0;
    
}

.cta-flex .column1 .signup {
    padding-top: 0;

}

.cta-flex .column2 {
    margin: 0;
    padding: 5px 0px;
    border-color: #e5e7eb;
    border-style: solid;
    min-width: 100px
    

}








.footer-container{
    width: auto;
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p {
    color: #e5e7eb;
    font-size: 18px;
    
}